/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  min-height: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  padding: 7px 100px;
  background-color: var(--darkOrange);
}

.project-name {
  font-size: 24px;
  letter-spacing: 2px;
  white-space: nowrap;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 125px;
}

@media (max-width: 1024px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0;
    gap: 0;
  }

  .project-name {
    padding: 4px;
    text-align: center;
  }

  .socials-footer {
    padding: 8px;
  }
}