/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.icon {
  fill: var(--white);
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.icon:hover {
  fill: var(--yellow);
}