/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.header-container-timeline {
  color: black;
  margin: 0;
  padding: 75px;
}

.timeline-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 75%;
}

.timeline-item-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.timeline-item {
  border: 3px solid var(--darkBlue);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 500px;
  border-radius: 16px;
  padding: 15px 30px;
  background-color: var(--blue);
}

.timeline-connector-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-left: 18%;
}

.timeline-connector-container:last-child {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 75%;
  padding-right: 6%;
  margin-bottom: 30px;
}

.timeline-connector {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.timeline-connector:last-child {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 18%;
}

.item-left {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.item-right {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.timeline-item > h3 {
  padding-bottom: 6px;
}

.timeline-item > ul {
  padding-left: 18px;
}

.timeline-item > ul > li {
  padding: 3px 0;
}

@media (max-width: 1024px) {
  .header-container-timeline {
    padding: 50px 0;
  }

  .timeline-content {
    width: 100%;
  }
}