/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.vertical-about-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-container-about {
  margin: 0;
  padding-top: 50px;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  width: 75%;
  margin: 0 auto auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 30px;
}

.description {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.button-container > a > button {
  background-color: var(--blue);
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.button-container > a > button:hover {
  color: var(--darkBlue);
  background-color: var(--yellow);
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px;
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.video {
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 320px;
  width: 100%;
  height: 100%;
}

/* 
 *   MOBILE
 */

@media (max-width: 1400px) {
  .description {
    font-size: 1.25rem;
  }

  .button-container > a > button {
    margin: 5px;
    min-width: 60px;
  }
}

@media (max-width: 1024px) {
  .header-container {
    padding: 0;
    margin: 0;
  }

  .left-container {
    margin: 0;
  }

  .content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
    width: 100%;
  }

  .description {
    font-size: 18px;
    text-align: center;
  }

  .video-container {
    min-width: 0;
    margin: 30px 0 15px;
  }

  .gif {
    height: 100%;
    width: 100%;
  }
}