/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.header-container-founders {
  padding-top: 50px;
}

.portraits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  height: 425px;
  width: 300px;
  margin: 25px;
  background-color: var(--blue);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 90%;
  -webkit-box-shadow: rgba(10, 10, 10, 0.16) 0px 3px 6px,
    rgba(10, 10, 10, 0.23) 0px 3px 6px;
  box-shadow: rgba(10, 10, 10, 0.16) 0px 3px 6px,
    rgba(10, 10, 10, 0.23) 0px 3px 6px;
}

.portrait-img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  height: 70%;
  width: 100%;
}

.portrait-img {
  height: auto;
  width: auto;
  max-height: 400px;
  max-width: 300px;
  border-radius: 15%;
  padding: 20px;
}

.portrait-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}

.portrait-text > h1 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.portrait-text > h4 {
  font-size: 24px;
  text-align: center;
}

/* 
 *   MOBILE
 */

@media (max-width: 1280px) {
  .header-container-founders {
    padding: 50px 0;
  }

  .portraits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding-bottom: 30px;
    margin: 0;
    width: 100%;
  }

  .portrait-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    padding: 20px;
  }
}